
.app {
  text-align: center;
}

.timer {
  color: rgb(235, 106, 106);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 30px;
}

.count-down {
  animation: countDown 10s;
}

@keyframes countDown {
  /* You could think of as "step 1" */
  0% {
    background: orange;
  }
  /* You could think of as "step 2" */
  100% {
    background: black;
  }
}